/* style.css */
.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .boxDashboard {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .boxDashboard h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .boxDashboard p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .boxDashboard button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .boxDashboard button:hover {
    background-color: #0056b3;
  }

  .contSection {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding: 10px;
  }

  .sectionMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-align: center;
    background-color: #f0f0f0;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
