.sidebar {
  width: 135px;
  height: 100%;
  position: relative;
  top: 0;
  left: 0px;
  background-color: #5B00D1;
  transition: left 0.3s ease;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 70px 0 0 0;
}

.sidebar-logo {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.sidebar-logo img {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.sidebar-nav a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-nav a:hover {
  background-color: cornflowerblue;
}

.icon {
  margin-right: 10px;
  width: 35px;
  height: 60px;
}

.nav-item {
  color: #fff;
}

.versao{
  margin: 15px;
  padding: 5px;
  color: gray;
}
